*.pyc
*.log
geckodriver.log
page_source
myselenium/__pycache__/*.pyc
dist/bulianglin.jpg
dist/changfeng.jpg
dist/v2ray-sub.txt
dist/clash-sub.yml
dist/quanx-sub.txt
subconverter/generate.ini
ocr_module/*.zip
ocr_models/craft_mlt_25k.pth
ocr_models/zh_sim_g2.pth
ocr_models/english_g2.pth
ocr_models/chinese_sim.zip
ocr_models/chinese.zip
ocr_models/craft_mlt_25k.zip
ocr_models/japanese.zip
ocr_models/korean.zip
